*.pyc
*.dat
TAGS
*.egg-info
*.egg
.eggs
build
.coverage
.coverage.*
.tox
cover
venv
.venv
*.sublime-workspace
*.sqlite
*.sqlite3
var/*
AUTHORS
ChangeLog
doc/source/api/*
doc/build/*
dist
*.orig
*.DS_Store
*.idea
.testrepository/*
functionaltests/tempest.log
functionaltests/.testrepository/
*.ipynb
/.ipynb_checkpoints/*
releasenotes/build
node_modules
npm-debug.log
